spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}

jwt:
  privateKey: file:/etc/secrets/pkcs8.key
  publicKey: file:/etc/secrets/public-key.pem

aws:
  accessKey: ${AWS_ACCESS_KEY}
  secretKey: ${AWS_SECRET_KEY}

google:
  accessKey: ${GOOGLE_ACCESS_KEY}

stripe:
  secretKey: ${STRIPE_SECRET_KEY}
hazelcast:
  network:
    rest-api:
      enabled: true
